# Number and Data type Conversion.ipynb

In [1]:
#Convert the decimal value into binary code
bin(20)

'0b10100'

In [2]:
#Convert the octal value into binary code
bin(0o426)

'0b100010110'

In [3]:
#Convert the hexadecimal value into binary code
bin(0xA2B)

'0b101000101011'

In [4]:
#Convert the decimal value into octal value
oct(12)

'0o14'

In [5]:
#Convert the decimal value into hexadecimal code
hex(34)

'0x22'

In [6]:
#Check the type of the value which is stored into f1
f1 = 2.345
type(f1)

float

In [7]:
#Float scientific notation
f2 = 2.3e3
print(f2)

2300.0

In [9]:
# Complex data type:
x = 11 + 4j
type(x)

complex

In [13]:
#Check the data type of the value
x1 = 0B101 + 3j
print(type(x1))
print(x1)
print(x1.real)
print(x1.imag)

<class 'complex'>
(5+3j)
5.0
3.0

In [14]:
#Check the data type of the false
b = False
type(b)

bool

In [15]:
#Peform indexing operation on string
s1 = 'Python'
s1[2]

't'

In [16]:
#Perform negative indexing 
s1[-2]

'o'

In [17]:
#Peform the slicing on the string 
s1[1:3]

'yt'

In [18]:
#Perform the slicing on the string
s1[1:14]

'ython'

In [20]:
#Pefrom the negative slicing on the string
s1[-4:-2]

'th'

In [21]:
#Print the length of the string 
len(s1)

6

In [22]:
#Create a new variable and pass the value of existing variable 
s2 = 'c'
type(s2)

str

In [23]:
#Convert the decimal point value into intiger
int(245.34)

245

In [24]:
#Check the intiger value of the True
int(True)

1

In [25]:
#Check the intiger value of the False
int(False)

0

In [26]:
#Conver the string into intiger 
int("23")

23

In [29]:
#Convert the intiger value into float 
float(20)

20.0

In [30]:
#Convert the boolean value into float 
float(False)

0.0

In [31]:
#Convert the boolean value into float 
float(True)

1.0

In [32]:
#Convert the string value into float
float("20")

20.0

In [33]:
#Convert the string value into float
float("20.5")

20.5

In [34]:
#Convert the decimal value into complex
complex(5)

(5+0j)

In [35]:
##Convert the float value into float
complex(5.4)

(5.4+0j)

In [36]:
#Convert the boolean value into complex
complex(False)

0j

In [37]:
#Convert the boolean value into complex
complex(True)

(1+0j)

In [38]:
#Make a complex number form two values where the first value is consider as a real part and second one is imaginary 
complex(12, 2)

(12+2j)

In [39]:
#Make a complex number form two values where the first value is consider as a real part and second one is imaginary
complex(12, -2)

(12-2j)

In [40]:
#Convert the boolean values into complex number
complex(True, False)

(1+0j)

In [41]:
#Convert the intiger value into boolean 
bool(0)

False

In [42]:
#Convert the intiger value into boolean 
bool(1)

True

In [43]:
#Convert the float value into boolean 
bool(0.0)

False

In [44]:
#Convert the complex value into boolean 
bool(0+0j)

False

In [45]:
#Convert the empty string into boolean 
bool("")

False

In [46]:
#Convert the decimal value into string 
str(14)

'14'

In [47]:
#Convert the complex value into string 
str(10+6j)

'(10+6j)'

In [48]:
#Convert the boolean value into string 
str(True)

'True'

# Keyword and Int.ipynb

In [9]:
#Simple Print statement
print("Hello Universe")

Hello Universe

In [2]:
#Performing addition 
a = 10
b = 30
print(" The Sum:", (a+b))

 The Sum: 40

In [1]:
#Import the list of keywords
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [5]:
# PVM will always provide values only in decimal form.
a = 10
print(a)

10

In [6]:
#Convert the hexadecimal value into intiger 
c = 0XAB4
print(c)

2740

# String.ipynb

In [5]:
# s1 = ' this is a 'ML class' -- Invalid
s2 = ' This is \' ML class'  
s3 = " This is ' ML class"  
s4 = ' This is " ML class'  
print(s2)
print(s3)
print(s4)

 This is ' ML class
 This is ' ML class
 This is " ML class

In [2]:
#Pefrom positive and negative indexing
s1 = "Python"
print(s1[2])
print(s1[-3])
print(s1[-6])

t
h
P

In [9]:
#Pefrom slicing where the first value is starting index, second value is ending index(excludeing) and thirt value is the number of steps which will skip
s1 = "Python"
s1[1:3:1]

'yt'

In [10]:
#Pefrom slicing
s1[0:6:2]

'Pto'

In [14]:
#Pefrom slicing
s1[::-1]

'nohtyP'

In [12]:
#Pefrom slicing
s1[::]

'Python'

In [16]:
#Pefrom concatenation on string
print("Python " + "Classes")

Python Classes

In [18]:
#Pefrom the multiplication between string and intiger 
print("Python " * 4)

Python Python Python Python

In [19]:
#Check the length of the string
s2 = "Python classes"
print(len(s2))

14

In [20]:
# write a program to access each character of string in forward and backward direction by using while loop

In [22]:
 s3 = "Python classes"
 print('o' in s3)
print('f' in s3)

True
False

In [25]:
s1 = "Java"
s2 = "Python"
if s1 == s2:
    print("Both are equal")
elif s1<s2:
    print("s1 is less than s2")

s1 is less than s2

In [32]:
s4 = "      Python      "
print(s4.strip())

Python

In [34]:
# find ()
s5 = "Python is very easy"
print(s5.find("Python")) #0
print(s5.find("Java"))  #
print(s5.find("s"))    #8
print(s5.rfind("s"))   #17
print(s5.find("s",9,18)) #17

0
-1
8
17
17

In [36]:
# index() - its same as find() but if we specify substring which is not available in the main string then we will get valueerror

s7 = input("Enter main string")
subs = input("Enter sub string")
try:
    n = s7.index(subs)
except ValueError:
    print("sub string not found")
else:
    print("substring found")

Enter main stringPython is very easy
Enter sub stringJava
sub string not found

In [ ]:
# Program to display all positions of substring from a main string

# String_2.ipynb

In [1]:
# Count substring
s = "Python is a programming language"
print(s.count("a"))

4

In [2]:
print(s.count('pro'))

1

In [3]:
print(s.count('a',12, 25 ))

1

In [4]:
# Replace string
s1 = "Python is very easy language"
s2 = s1.replace("easy", "difficult")
print(s2)

Python is very difficult language

In [7]:
s3 = "Java is difficult language. Java is based on Oops"
s4 = s3.replace("Java", "Python")

In [8]:
print(s4)

Python is difficult language. Python is based on Oops

In [10]:
# Split a string
s5 = "Python Programming Language"
x = s5.split()
for i in x:
    print(i)

Python
Programming
Language

In [11]:
# Joining of strings
t1 = ('Dyal', 'Pardeep', 'Kaushal')
s6 = '-'.join(t1)
print(s6)

Dyal-Pardeep-Kaushal

In [15]:
# Start and end of the substring
s7 = 'Python is very easy language'
print(s7.startswith('easy'))
print(s7.startswith('Python'))
print(s7.endswith('easy'))
print(s7.endswith('language'))

False
True
False
True

In [19]:
# format() method
name = "Anand"
salary = 50000
age = 22
print("{}'s salary is {} and his age is {}".format(name, salary, age))
print("{0}'s salary is {1} and his age is {2}".format(name, salary, age))
print("{a}'s salary is {b} and his age is {c}".format(a=name, b=salary, c=age))

Anand's salary is 50000 and his age is 22
Anand's salary is 50000 and his age is 22
Anand's salary is 50000 and his age is 22

# List.ipynb

In [1]:
l3 = []
print(l3)

[]

In [2]:
print(type(list))

<class 'type'>

In [3]:
# Dynamic input
list1 = eval(input("Enter List:"))
print(list1)
print(type(list1))

Enter List:[2,4,6]
[2, 4, 6]
<class 'list'>

In [4]:
# list() function
list3 = list(range(0,10,2))
print(list3)
print(type(list3))

[0, 2, 4, 6, 8]
<class 'list'>

In [5]:
str1 = "Python"
list4 = list(str1)
print(list4)

['P', 'y', 't', 'h', 'o', 'n']

In [6]:
# split() function
str2 = "Python is very easy"
list5 = str2.split()
print(list5)
print(type(list5))

['Python', 'is', 'very', 'easy']
<class 'list'>

In [7]:
# Nested List
list6 = [2,4,[10,20]]

In [8]:
list5[0]

'Python'

In [9]:
list5[-1]

'easy'

In [11]:
# Slice 
# list6 = list5[start:stop:step]
list7= [2,3,4,5,6,7,8,9]
print(list7[2:7:2])  # 4,6,8
print(list7[3::2])  #5,7,9
print(list7[8:2:-2]) #
print(list7[3:50]) #4,5,6,7,8,9

[4, 6, 8]
[5, 7, 9]
[9, 7, 5]
[5, 6, 7, 8, 9]

In [12]:
# list is a mutable
list8= [20,30,40,50,60]
print(list8)
list8[2]=660
print(list8)

[20, 30, 40, 50, 60]
[20, 30, 660, 50, 60]

In [13]:
# Traversing the elements of list
# by using while loop 
list9= [2,3,4,5,6,7,8,9]
i = 0
while i<len(list9):
    print(list9[i])
    i=i+1

2
3
4
5
6
7
8
9

In [14]:
# by using for loop 
# write a program to find only even numbers from the list

In [4]:
#Functions of list
# len(), count(), index()
list9= [2,3,4,5,6,7,8,9,5]
print(list9.index(5))
print(list9.count(5))

3
2

In [18]:
# Manipulation method of list
# append(), insert(), extend(), remove(),pop(),

In [19]:
# append(): add item at the end of the list
list10= []
list10.append("d")
list10.append("g")
list10.append("j")
print(list10)

['d', 'g', 'j']

In [20]:
# insert() function: insert item at specified index position
list10.insert(1,900)
print(list10)

['d', 900, 'g', 'j']

In [21]:
list10.insert(20,'test')
list10.insert(-50,'afb')
print(list10)

['afb', 'd', 900, 'g', 'j', 'test']

In [22]:
# extend() function: add all items of one list to another list
l1 = ["Security weaver", "Infosys", "Microsoft"]
l2 = ["SW", "Infy", "MS"]
l1.extend(l2)
print(l1)

['Security weaver', 'Infosys', 'Microsoft', 'SW', 'Infy', 'MS']

In [23]:
# remove() function: remove item from the list
l3 = [30,40,50,60]
l3.remove(40)
print(l3)

[30, 50, 60]

In [6]:
l4 = [30,20,50,60,20]
l4.remove(20)
print(l4)

[30, 50, 60, 20]

In [26]:
# pop(): remove and returns the last element of the list
l4 = [30,20,50,60,20]
print(l4.pop()) # 20
print(l4.pop()) # 60
print(l4)

20
60
[30, 20, 50]

# List_2.ipynb

In [1]:
list1 = [10,20,30,40]
list1.reverse()
print(list1)

[40, 30, 20, 10]

In [2]:
list2 = [30,6,23,78,4]
list2.sort()
print(list2)

[4, 6, 23, 30, 78]

In [3]:
list3 = ["Orange", "Banana", "Papaya"]
list3.sort()
print(list3)

['Banana', 'Orange', 'Papaya']

In [5]:
list5 = [30,6,23,78,4]
list5.sort(reverse = True)
print(list5)

[78, 30, 23, 6, 4]

In [6]:
l1 = [20,30]
l2 = [40,50]
l3 = l1 + l2
print(l3)

[20, 30, 40, 50]

In [7]:
l4 = [10,20]
l5 = l4*2
print(l5)

[10, 20, 10, 20]

In [8]:
l6 = ["Orange", "Papaya"]
l7 = ["Orange", "Papaya"]
l8 = ["Guava", "Apple"]
l9 = ["ORANGE", "PAPAYA"]
print(l6 == l7) #True
print(l6 == l8) #False
print(l6 != l8) #True
print(l6 != l9) #True

True
False
True
True

In [9]:
l10 = [20,30,40]
print(20 in l10) #True
print(30 not in l10) #False
print(60 in l10) #False

True
False
False

In [10]:
# clear()
l11 = [20,30,40]
print(l11)
l11.clear()
print(l11)

[20, 30, 40]
[]

In [11]:
# Nested list
lt1 = [10,20,[30,40]]
print(lt1)
print(lt1[1])
print(lt1[2])
print(lt1[2][0])
print(lt1[2][1])

[10, 20, [30, 40]]
20
[30, 40]
30
40

In [13]:
# write a program to disply unique vowels present in the given word

In [14]:
t1 = (10,20,30,40)
print(type(t1))

<class 'tuple'>

In [15]:
# tuple ()
l12 = [10,20,30]
t2 = tuple(l12)
print(type(t2))

<class 'tuple'>

In [18]:
# By using index , we can acces element
print(t2[1])
print(t2[-3])

20
10

In [19]:
# Slice
print(t2[0:2])

(10, 20)

In [20]:
# +, * can be use
t3 = (10,20,30,40)
t4 = (50,60)
t5 = t3 + t4
print(t5)

(10, 20, 30, 40, 50, 60)

In [21]:
t6 = (50,60)
t7 = t6*3
print(t7)

(50, 60, 50, 60, 50, 60)

In [ ]:
# len(), count(),index(),sorted(), min(), max(), cmp()

# Set.ipynb

In [2]:
s1 = {10,20,30,40}
print(s1)
print(type(s1))

{40, 10, 20, 30}
<class 'set'>

In [3]:
# set()
l1 = [10,20,30,40,10,20,10]
s2 = set(l1)

In [4]:
print(s2)

{40, 10, 20, 30}

In [5]:
s3 = set(range(10))
print(s3)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [6]:
s4={}
print(s4)
print(type(s4))

{}
<class 'dict'>

In [7]:
s5=set()
print(s5)
print(type(s5))

set()
<class 'set'>

In [8]:
# add()
s6 = {10,20,30,40}
s6.add(50)
print(s6)

{40, 10, 50, 20, 30}

In [10]:
# update()
s7 = {10,20,30,40}
l2=[50,60,70,20,30]
s7.update(l2,range(4))
print(s7)

{0, 1, 2, 3, 70, 40, 10, 50, 20, 60, 30}

In [16]:
# copy()
s8={20,30,40}
s9=s8.copy()
print(s9)

{40, 20, 30}

In [17]:
s9.add(50)
print(s9)
print(s8)

{40, 50, 20, 30}
{40, 20, 30}

In [18]:
#pop()
s8.pop()
print(s8)

{20, 30}

In [19]:
#remove(x)
print(s9)
s9.remove(20)
print(s9)

{40, 50, 20, 30}
{40, 50, 30}

In [20]:
# discard(x) - its same as remove(x), but discard function will not return any error in case if element does not find in the set
print(s9)
s9.discard(30)
print(s9)

{40, 50, 30}
{40, 50}

In [21]:
#clear()
s10 = {10,20,30,40}
print(s10)
s10.clear()
print(s10)

{40, 10, 20, 30}
set()

In [22]:
# union()
x = {10,20,30,40}
y = {30,40,50,60}
print(x.union(y))

{40, 10, 50, 20, 60, 30}

In [23]:
# intersection()
x1 = {10,20,30,40}
y1 = {30,40,50,60} 
print(x1.intersection(y1))

{40, 30}

In [25]:
# difference()
x2 = {10,20,30,40}
y2 = {30,40,50,60} 
print(x2.difference(y2))
print(y2.difference(x2))

{10, 20}
{50, 60}

In [26]:
# symmetric_difference():  returns only those elements which are present in either x OR y but not in both
x3 = {10,20,30,40}
y3 = {30,40,50,60} 
print(x3.symmetric_difference(y3))

{10, 50, 20, 60}

In [27]:
x4 = set("Python")
print(x4)
print('t' in x4) # True
print('n' in x4) #True
print('a' in x4) #False

{'o', 't', 'y', 'P', 'h', 'n'}
True
True
False

In [ ]:
# Write a program to print different vowel present in the given word using set()

# Dictionary.ipynb

In [1]:
d1 = {}
d2 = dict()
print(type(d1))
print(type(d2))

<class 'dict'>
<class 'dict'>

In [2]:
d1[1]="Python"
d1[2]="Java"
d1[3]="C#"
print(d1)

{1: 'Python', 2: 'Java', 3: 'C#'}

In [3]:
print(d1[2])

Java

In [6]:
# Python 3
if 10 in d1:
    print(d1[10])

In [7]:
# write a program to enter name and percentage marks in a dictionary and display information on the screen

In [8]:
# update dictionaries d[key] = value
d1[2] = "Javascript"
print(d1)

{1: 'Python', 2: 'Javascript', 3: 'C#'}

In [9]:
# delete the element: del
del d1[3]
print(d1)

{1: 'Python', 2: 'Javascript'}

In [10]:
# clear(): remove all element
d1.clear()
print(d1)

{}

In [12]:
# len(), get(), pop(), popitem(), keys(), values(), items(), copy(), setdefault(), update()

In [15]:
d3 = {10:"Python", 20:"Java", 30:"C#", 40:"Javascript"}
print(len(d3))

4

In [16]:
print(d3.get(30))

C#

In [17]:
print(d3.get(60))

None

In [18]:
print(d3.pop(40))
print(d3)

Javascript
{10: 'Python', 20: 'Java', 30: 'C#'}

In [19]:
print(d3.popitem())  # remove an arbitrary item from the dictionary
print(d3)

(30, 'C#')
{10: 'Python', 20: 'Java'}

In [20]:
print(d3.keys())

dict_keys([10, 20])

In [21]:
print(d3.values())

dict_values(['Python', 'Java'])

In [23]:
for k,v in d3.items():
    print(k," **** ",v)

10  ****  Python
20  ****  Java

In [24]:
d4 = d3.copy()
print(d4)

{10: 'Python', 20: 'Java'}

In [ ]:
# write a program to find number of occurences of each letter present in the given string
# write a program to find number of occurences of each vowel present int he given string

# Loop.ipynb

In [1]:
# While loop
a = 1
while a <= 10:
    print(a)
    a = a+1

1
2
3
4
5
6
7
8
9
10

In [3]:
num = int(input("Enter number:"))
sum = 0
i = 1
while i <= num:
    sum = sum+i
    i = i+1
print("The sum:",num,"numbers is:",sum)

Enter number:20
The sum: 20 numbers is: 210

In [4]:
i = 0
#while True:
    i=i+1
    print("Hello",i)

IndentationError: unexpected indent (402260741.py, line 3)

In [5]:
#Nested loops:
for i in range(4):
    for j in range(5):
        print("i=",i," j=",j)

i= 0  j= 0
i= 0  j= 1
i= 0  j= 2
i= 0  j= 3
i= 0  j= 4
i= 1  j= 0
i= 1  j= 1
i= 1  j= 2
i= 1  j= 3
i= 1  j= 4
i= 2  j= 0
i= 2  j= 1
i= 2  j= 2
i= 2  j= 3
i= 2  j= 4
i= 3  j= 0
i= 3  j= 1
i= 3  j= 2
i= 3  j= 3
i= 3  j= 4

In [6]:
# Write a program to display * in right angled triangle
# Write a program to display * in Pyramid shape

In [7]:
#Transfer Statements
#break, continue
# Break
for i in range(10):
    if i ==8:
        print("exit")
        break
    print(i)

0
1
2
3
4
5
6
7
exit

In [8]:
# continue
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [9]:
# Loop with else block
cart = [10,20,30,40,50]
for i in cart:
    if i >=500:
        print("not able to process this order")
        break
    print(i)
else:
    print("All order processed successfully")

10
20
30
40
50
All order processed successfully

In [10]:
#pass 
def orderProcess():
    pass

In [11]:
# del
a = 20
print(a)
del a

20

In [14]:
x = "python"
x = None
print(x)

None

# Operators.ipynb

In [1]:
# Escape Characters

str1 = "Python \n Programming"

In [2]:
print(str1)

Python
 Programming

In [4]:
str3 = "This is a python programming \"Software Development\" which is used in ML"
print(str3)

This is a python programming "Software Development" which is used in ML

In [6]:
str5 = "Python" + "4"
print(str5)

Python4

In [7]:
str6 = 3 * "Python"
print(str6)

PythonPythonPython

In [9]:
print(True>True) #False
print(True>=True) #True
print(20>True) #True
print(False>True) #False

False
True
True
False

In [10]:
a = 5
b = 8
if(a>b):
    print("a is greater than b")
else:
    print("a is not greater than b")

a is not greater than b

In [12]:
print(20<30<40) # True
print(10<20<30>50) #False
print(10<20<50>30) #True

True
False
True

In [14]:
print(20 == 30)

False

In [15]:
print(1==2==3==4) # False
print(1==1==1==1) # True

False
True

In [16]:
print(True and False)  #False
print(True or False )  #True
print( not False) #True

False
True
True

In [17]:
print(True and 0)  #False
print(22 or False )  #True

0
22

In [18]:
if(24):
    print("Hello")

Hello

In [19]:
if(0):
    print("Hello")

In [22]:
a = 30
b = 20
x = 40 if a<b else 50
print(x)

50

# Operators_2.ipynb

In [10]:
# range is from -5 to 256
a = 210
b = 210
print(a is b)

True

In [7]:
a = 270
b = 270
print(a is b)

False

In [11]:
print(id(a))

140728490110280

In [12]:
print(id(b))

140728490110280

In [13]:
list1 = ["Python", "Java", "C#", "Javascript"]
print("Java" in list1) #True
print("C#" not in list1) #False
print("Javascript" in list1) #True

True
False
True

In [15]:
import math
print(math.sqrt(16))

4.0

In [16]:
import math as m
print(m.sqrt(16))

4.0

In [17]:
from math import sqrt,pi
print(sqrt(16))

4.0

In [18]:
# Write a program to find area of Circle

In [20]:
# Dynamic input from the keyboard
# Python 2 : raw_input() and input()
# Python 3: input()
a = input("Enter value")
print(type(a))

Enter value10
<class 'str'>

In [21]:
# Write a program to enter employee detail from the keyboard

In [22]:
a = eval("20 + 2*4/2")
print(a)

24.0

In [23]:
print("Hello \n World")

Hello
 World

In [24]:
print("Hello \t World")

Hello 	 World

In [25]:
print("Hello" * 5)

HelloHelloHelloHelloHello

In [26]:
print("Hello" + "World")

HelloWorld

In [28]:
print(4 + 5)

9

In [30]:
a,b,c = 2,4,7
print("The Values are: ",a,b,c)

The Values are:  2 4 7

In [31]:
a,b,c = 2,4,7
print("The Values are: ",a,b,c,sep=",")

The Values are: ,2,4,7

In [32]:
print("Hello", end=' ')
print("Python", end=' ')

Hello Python

In [33]:
lang = "Python"
exp = 4
company = 'SW'
print("Language ",lang," Experience is ",exp," Company is ", company)

Language  Python  Experience is  4  Company is  SW

In [35]:
# %i = int, %d = int, %f = float, %s = string
exp = 5
comp = 'sw'
sal = 10000.50
print("Company is %s and salary is %f and experience is %d years" %(comp, sal, exp))

Company is sw and salary is 10000.500000 and experience is 5 years

In [36]:
# Conditional statement

company_name = input("Enter company name")
if company_name == "sw":
    print("Top fortune 500 company")
print("Mid level company")

Enter company namesw
Top fortune 500 company
Mid level company

In [37]:
company_name1 = input("Enter company name")
if company_name1 == "sw":
    print("Top fortune 500 company")
else:
    print("Mid level company")

Enter company namefacebook
Mid level company

In [39]:
company_name2 = input("Enter company name")
if company_name2 == "sw":
    print("Top fortune 500 company")
elif company_name2 == "facebook":
    print("Top fortune 100 company")
else:
    print("Mid level company")

Enter company namefacebook
Top fortune 100 company

In [ ]:
# Write a program to find biggest number of given 2 numbers 
# Write a program to find biggest number of given 3 numbers
# Write a prgram to check whether the given number is in between 20 to 50
# Write a program to take a single digit number from the keyboard and print its english word

# Function.ipynb

In [2]:
def helloTest():
    print("Hello Good Morning")
helloTest()

Hello Good Morning

In [4]:
def helloPass(name):
    print("Hello",name," Good Morning")
helloPass("Anand")

Hello Anand  Good Morning

In [5]:
def squareNumber(number):
    print("The square of ", number, "is", number*number)
squareNumber(4)
squareNumber(8)

The square of  4 is 16
The square of  8 is 64

In [6]:
def squareNum(number):
    result = number * number
    return result
resultOfNum = squareNum(5)
print(resultOfNum)

25

In [7]:
# Write a function to accept 2 numbers as input and return Sum
# Write a function to check whether the given number is even or odd?
# Write a function to find factorial of given number

In [8]:
def mul_div(operand1, operand2):
    mul = operand1*operand2
    div = operand1/operand2
    return mul, div
m, d = mul_div(20,10)
print("Multiple: ",m)
print("Division: ",d)

Multiple:  200
Division:  2.0

In [9]:
def wish(name, msg):
    print("Hello", name, msg)
wish(name="Pardeep", msg="Good Morning")
wish(msg="Good Morning", name = "Dyal")

Hello Pardeep Good Morning
Hello Dyal Good Morning

In [10]:
def helloPass2(name="Guest"):
    print("Hello",name," Good Morning")
helloPass2("Anand")
helloPass2()

Hello Anand  Good Morning
Hello Guest  Good Morning

In [11]:
def add(*n):
    total = 0
    for n1 in n:
        total = total+n1
    print("Total Sum: ", total)

add(10)
add(10,20)
add()

Total Sum:  10
Total Sum:  30
Total Sum:  0

# Function_2.ipynb

In [1]:
# Global Variables:
x = 20
def f1():
    print(x)

def f2():
    print(x)

f1()
f2()

20
20

In [4]:
# Global keyword
#a = 40
def f5():
    global a
    a = 100
    print(a)
def f6():
    print(a)
    
f5()
f6()

100
100

In [5]:
x = 30  #Global Variable
def f7():
    x = 100 # local variable
    print(x)
    print(globals()['x'])
f7()

100
30

In [6]:
# factorial:
def factorial(n):
    if n==0:
        result=1
    else:
        result=n*factorial(n-1)
    return result

print("Factorial of 5 is :",factorial(5))

Factorial of 5 is : 120

In [10]:
# lambda function
s = lambda n:n*n
print("square of 5 is: ",s(5))
print("square of 6 is: ",s(6))

square of 5 is:  25
square of 6 is:  36

In [11]:
# write a program to find biggest number from the given values using lambda function

In [12]:
# without lambda function using filter
def isEven(x):
    if x%2==0:
        return True
    else:
        return False
lst1 = [0,5,10,15,20,25,30]
lst2 = list(filter(isEven,lst1))
print(lst2)

[0, 10, 20, 30]

In [13]:
# with lambda function
lst3 = [0,5,10,15,20,25,30]
lst4 = list(filter(lambda x:x%2==0,lst3))
print(lst4)
lst5 = list(filter(lambda x:x%2!=0,lst3))
print(lst5)

[0, 10, 20, 30]
[5, 15, 25]

# Function_3.ipynb

In [2]:
#reduce
from functools import*
lst1 = [10,20,30,40,50]
result=reduce(lambda x,y:x+y,lst1)
print(result)

150

In [4]:
# Function Alias
def progLangName(progName):
    print("Program Language Name: ",progName)

techLangName = progLangName
print(id(progLangName))
print(id(techLangName))

techLangName("Java")
progLangName("Python")

del progLangName
techLangName("C#")

2048341646272
2048341646272
Program Language Name:  Java
Program Language Name:  Python
Program Language Name:  C#

In [5]:
#Nested Function:
def upperFunc():
    print("upper function started")
    def lowerFunc():
        print("lower function execution")
    print("upper function is calling lower function")
    lowerFunc()
upperFunc()

upper function started
upper function is calling lower function
lower function execution

In [6]:
def sum():
    result = 10+20
    return result
total = sum()
print(total)

30

In [7]:
# Function can return another function
def upperFunc1():
    print("upper function started")
    def lowerFunc1():
        print("lower function execution")
    print("upper function is calling lower function")
    return lowerFunc1
f1 = upperFunc1()
f1()
f1()

upper function started
upper function is calling lower function
lower function execution
lower function execution

# Decorator Function.ipynb

Hello  Anand  Good Morning
Hello  Dyal  Good Morning

In [3]:
def decor(func):
    def inner(name):
        if name == "Dyal":
            print("Hello Dyal Awesome Morning")
        else:
            func(name)
    return inner

@decor
def wish(name):
    print("Hello ", name, " Good Morning")
    
wish("Anand")
wish("Dyal")

Hello  Anand  Good Morning
Hello Dyal Awesome Morning

In [4]:
def decor1(func):
    def inner():
        x = func()
        return x * x
    return inner

def decor(func):
    def inner():
        x = func()
        return 2 * x
    return inner


@decor1
@decor
def num():
    return 10

print(num())

400

# Module.ipynb

In [1]:
# dir()
a=10
b=20
def f1():
    print("hello")
print(dir())

['In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_ih', '_ii', '_iii', '_oh', 'a', 'b', 'exit', 'f1', 'get_ipython', 'open', 'quit']

In [2]:
import os
print(dir(os))

['DirEntry', 'EX_OK', 'F_OK', 'GenericAlias', 'Mapping', 'MutableMapping', 'O_APPEND', 'O_BINARY', 'O_CREAT', 'O_EXCL', 'O_NOINHERIT', 'O_RANDOM', 'O_RDONLY', 'O_RDWR', 'O_SEQUENTIAL', 'O_SHORT_LIVED', 'O_TEMPORARY', 'O_TEXT', 'O_TRUNC', 'O_WRONLY', 'P_DETACH', 'P_NOWAIT', 'P_NOWAITO', 'P_OVERLAY', 'P_WAIT', 'PathLike', 'R_OK', 'SEEK_CUR', 'SEEK_END', 'SEEK_SET', 'TMP_MAX', 'W_OK', 'X_OK', '_AddedDllDirectory', '_Environ', '__all__', '__builtins__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_check_methods', '_execvpe', '_exists', '_exit', '_fspath', '_get_exports_list', '_walk', '_wrap_close', 'abc', 'abort', 'access', 'add_dll_directory', 'altsep', 'chdir', 'chmod', 'close', 'closerange', 'cpu_count', 'curdir', 'defpath', 'device_encoding', 'devnull', 'dup', 'dup2', 'environ', 'error', 'execl', 'execle', 'execlp', 'execlpe', 'execv', 'execve', 'execvp', 'execvpe', 'extsep', 'fdopen', 'fsdecode', 'fsencode', 'fspath', 'fstat', 'fsync', 'ftruncate', 'get_exec_path', 'get_handle_inheritable', 'get_inheritable', 'get_terminal_size', 'getcwd', 'getcwdb', 'getenv', 'getlogin', 'getpid', 'getppid', 'isatty', 'kill', 'linesep', 'link', 'listdir', 'lseek', 'lstat', 'makedirs', 'mkdir', 'name', 'open', 'pardir', 'path', 'pathsep', 'pipe', 'popen', 'putenv', 'read', 'readlink', 'remove', 'removedirs', 'rename', 'renames', 'replace', 'rmdir', 'scandir', 'sep', 'set_handle_inheritable', 'set_inheritable', 'spawnl', 'spawnle', 'spawnv', 'spawnve', 'st', 'startfile', 'stat', 'stat_result', 'statvfs_result', 'strerror', 'supports_bytes_environ', 'supports_dir_fd', 'supports_effective_ids', 'supports_fd', 'supports_follow_symlinks', 'symlink', 'sys', 'system', 'terminal_size', 'times', 'times_result', 'truncate', 'umask', 'uname_result', 'unlink', 'unsetenv', 'urandom', 'utime', 'waitpid', 'waitstatus_to_exitcode', 'walk', 'write']

In [3]:
os.name

'nt'

In [4]:
os.getcwd()

'C:\\Users\\Lovekesh\\Desktop\\Python\\Morning Batch 17th_June'

# Math_Module.ipynb

In [1]:
from math import *
print(sqrt(4))
print(ceil(10.1))
print(floor(10.1))
print(fabs(-10.6))
print(fabs(10.6))

2.0
11
10
10.6
10.6

In [2]:
import math
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [3]:
from random import *
for i in range(10):
    print(random())

0.25632350608843246
0.44184635070949607
0.20297880562776904
0.9896958739856454
0.8210177758495013
0.5235993310305406
0.6595108207641227
0.1494604504335929
0.8035434776077812
0.9810814284131135

In [4]:
for i in range(10):
    print(randint(1,100))

87
88
97
6
29
52
36
75
68
12

In [5]:
for i in range(10):
    print(uniform(1,10))

6.845779001555498
8.46188686746029
2.737545629194191
9.938074727947171
3.215329330220155
2.2707285021712216
9.122668865596498
4.3779304549511195
4.045996335074388
3.8188114459760762

In [8]:
for i in range(10):
    print(randrange(10))
print("*********************")
for i in range(10):
    print(randrange(2,15))

8
8
8
4
2
0
6
5
0
6
*********************
8
13
12
3
9
9
6
3
7
8

In [9]:
list=["Python", "Java", "C#", "Ruby", "JavaScript", "Php"]
for i in range(10):
    print(choice(list))

Php
Java
JavaScript
Python
JavaScript
C#
Python
C#
Python
Php

# Directory.ipynb

In [1]:
import os
cwd = os.getcwd()
print("Current working directory: ", cwd)

Current working directory:  C:\Users\Lovekesh\Desktop\Python\Morning Batch 17th_June

In [2]:
os.mkdir("MachineLearning")

In [3]:
os.mkdir("MachineLearning/DeepLearning")

In [4]:
os.makedirs("sub1/sub2/sub3")

In [5]:
os.rmdir("sub1/sub2/sub3")

In [6]:
os.removedirs("sub1/sub2")

In [7]:
os.rename("MachineLearning/DeepLearning", "MachineLearning/AI")

In [8]:
print(os.listdir("."))

['.ipynb_checkpoints', 'barchart.jpg', 'Class.ipynb', 'Class2.ipynb', 'Decorator Function.ipynb', 'Dictionary.ipynb', 'Directory.ipynb', 'Error Handling.ipynb', 'File Handling.ipynb', 'Function.ipynb', 'Function_2.ipynb', 'Function_3.ipynb', 'Generator and Assert.ipynb', 'Inner Class.ipynb', 'Keyword and Int.ipynb', 'List,Range,Tuple,Set,Dict,Range.ipynb', 'List.ipynb', 'List_2.ipynb', 'Loop.ipynb', 'MachineLearning', 'Math_Module.ipynb', 'Methods.ipynb', 'Module.ipynb', 'newBarchart.jpg', 'Notes', 'Number and Data type Conversion.ipynb', 'Operators.ipynb', 'Operators_2.ipynb', 'Set.ipynb', 'String.ipynb', 'String_2.ipynb', 'text.txt', 'text2.txt']

In [10]:
stats = os.stat("text2.txt")
print(stats)

os.stat_result(st_mode=33206, st_ino=38562071809890247, st_dev=2024004268, st_nlink=1, st_uid=0, st_gid=0, st_size=18, st_atime=1723512618, st_mtime=1723512618, st_ctime=1723512610)

In [11]:
from datetime import *
print("File Size in Bytes: ", stats.st_size)
print("File Last Accessed Time: ",datetime.fromtimestamp(stats.st_atime))
print("File Last Modified Time: ",datetime.fromtimestamp(stats.st_mtime))

File Size in Bytes:  18
File Last Accessed Time:  2024-08-13 07:00:18.899271
File Last Modified Time:  2024-08-13 07:00:18.899271

# Error Handling.ipynb

In [2]:
print("Try block start")
try:
    print(10/0)
except ZeroDivisionError:
    print(10/2)
print("Try block end")

Try block start
5.0
Try block end

In [3]:
print("Try block start")
try:
    print(10/0)
except ZeroDivisionError as msg:
    print("Exception raised and its description is: ",msg)
print("Try block end")

Try block start
Exception raised and its description is:  division by zero
Try block end

In [5]:
try:
    x = int(input("Enter First Number: "))
    y = int(input("Enter Second Number: "))
    print(x/y)
except ZeroDivisionError:
    print("Can not Divide by Zero")
except ValueError:
    print("please provide int value only")

Enter First Number: 20
Enter Second Number: a
please provide int value only

In [7]:
try:
    x = int(input("Enter First Number: "))
    y = int(input("Enter Second Number: "))
    print(x/y)
except (ZeroDivisionError,ValueError) as msg:
    print("Please provide valid numbers only and error is: ",msg)

Enter First Number: 20
Enter Second Number: e
Please provide valid numbers only and error is:  invalid literal for int() with base 10: 'e'

In [11]:
# Default except Block:
try:
    x = int(input("Enter First Number: "))
    y = int(input("Enter Second Number: "))
    print(x/y)
except:
    print("Default Except: Please provide valid input only")

Enter First Number:  10
Enter Second Number:  0

Default Except: Please provide valid input only

In [13]:
try:
    print("try start")
    print(10/0)
    print("try end")
except:
    print("except")
finally:
    print("finally")

try start
except
finally

In [2]:
# else block
try:
    print("try")
    print(10/0)
except:
    print("except")
else:
    print("else")
finally:
    print("finally")

try
except
finally

In [5]:
class TooYoungException(Exception):
    def __init__(self,arg):
        self.msg = arg
        
class TooOldException(Exception):
    def __init__(self,arg):
        self.msg = arg
        
age = int(input("enter age"))
if age>60:
    raise TooOldException("Please wait you will get appointment soon")
elif age<18:
    raise TooYoungException("You will get appointment soon but after elders")
else:
    print("You will get appointment soon but after elders and younger")

enter age70

TooOldException: Please wait you will get appointment soon

# File Handling.ipynb

In [2]:
# write data to text file
f = open("text.txt", 'w')
f.write("Python\n")
f.write("Java\n")
f.write("C#\n")
print("Successfully data written in the file")
f.close()

In [3]:
# append the data  f = open("text.txt", "a")
f = open("text.txt", "w")
list = ["Pradeep\n", "Dyal\n", "Karan"]
f.writelines(list)
print("All lines written to the file successfully")
f.close()

In [1]:
# Reading data from text files
f1 = open("text.txt",'r')
data = f1.read()
print(data)
f1.close()

Pradeep
Dyal
Karan

In [2]:
f2 = open("text.txt",'r')
data = f2.read(5)
print(data)
f2.close()

Prade

In [4]:
# read all lines
f3 = open("text.txt", 'r')
line1 = f3.readline()
print(line1, end='')
line2 = f3.readline()
print(line2, end='')
line3 = f3.readline()
print(line3, end='')
f3.close()

Pradeep
Dyal
Karan

In [7]:
# read all lines
f4 = open("text.txt", 'r')
lines = f4.readlines()
print(lines)
for line in lines:
    print(line, end='')
f4.close()

['Pradeep\n', 'Dyal\n', 'Karan']
Pradeep
Dyal
Karan

In [9]:
# with statement
with open("text2.txt", "w") as f5:
    f5.write("Python\n")
    f5.write("Java\n")
    f5.write("C#\n")
    print("File closed: ", f5.closed)
print("File closed after with completed: ", f5.closed)

File closed:  False
File closed after with completed:  True

In [3]:
import os, sys
fname = input("Enter file Name:")
if os.path.isfile(fname):
    print("File exists:", fname)
    f=open(fname,"r")
else:
    print("File does not exist:", fname)
    sys.exit(0)
print("The content of the file is:")
data=f.read()
print(data)

Enter file Name:text.txt
File exists: text.txt
The content of the file is:
Pradeep
Dyal
Karan

In [4]:
# program to print the number of lines, words and characters present in the given File eg. I am a programmer words: 4 char: 14

In [6]:
# Binary file handling
f6 = open("barchart.jpg", "rb")
f7 = open("newBarchart.jpg", "wb")
bytes = f6.read()
f7.write(bytes)
print("New Image is created with the name : newBarchart.jpg")

New Image is created with the name : newBarchart.jpg

# Generator and Assert.ipynb

In [6]:
#Generator function
def mygen():
    yield 'A'
    yield 'B'
    yield 'C'
    
g = mygen()
print(type(g))
print(next(g))
print(next(g))
print(next(g))

<class 'generator'>
A
B
C

In [9]:
# Assert
def square1(x):
    return x * x
assert square1(2)==4,"The square of 2 should be 4"
assert square1(3)==9,"The square of 3 should be 9"
assert square1(4)==16,"The square of 4 should be 16"
print(square1(2))
print(square1(3))
print(square1(4))

4
27
256

# Inner Class.ipynb

In [6]:
class Outer:
    def __init__(self):
        print("outer class object creation")
    class inner:
        def __init__(self):
            print("inner class object creation")
        def m1(self):
            print("inner class method")

# ot = Outer().inner().m1()
# inne = ot.inner()
# inne.m1()

ot1 = Outer().inner().m1()

outer class object creation
inner class object creation
inner class method

In [7]:
# Garbage Collector
import gc
print(gc.isenabled())
gc.disable()
print(gc.isenabled())
gc.enable()
print(gc.isenabled())

True
False
True

In [9]:
# Destructor
import time
class Test:
    def __init__(self):
        print("Object initial")
    def __del__(self):
        print("Performing clean up activitiies")

t1 = Test()
t1 = None
time.sleep(5)
print("End of app")

Object initial
Performing clean up activitiies
End of app

# Methods.ipynb

In [3]:
class Student:
    def __init__(self,name,marks):
        self.name = name
        self.marks = marks
    def display(self):
        print('Hi', self.name)
        print('Your Marks are :',self.marks)
    def grade(self):
        if self.marks >=60:
            print("You got First Grade")
        elif self.marks>=50:
            print("You got Second Grade")
        elif self.marks>=35:
            print('Your got Third Grade')
        else:
            print('You are Failed')

n = int(input('Enter number of students:'))
for i in range(n):
    name = input("Enter Name:")
    marks = int(input('Enter Marks'))
    s= Student(name,marks)
    s.display()
    s.grade()
    print()

Enter number of students:2
Enter Name:Pradeep
Enter Marks85
Hi Pradeep
Your Marks are : 85
You got First Grade

Enter Name:Xyz
Enter Marks30
Hi Xyz
Your Marks are : 30
You are Failed

In [4]:
class Student1:
    def setName(self,name):
        self.name = name
    def getName(self):
        return self.name
    def setMarks(self, marks):
        self.marks = marks
    def getMarks(self):
        return self.marks
    
n = int(input('Enter number of students:'))
for i in range(n):
    s = Student1()
    name = input('Enter Name:')
    s.setName(name)
    marks = int(input('Enter Marks'))
    s.setMarks(marks)
    
    print('Hi', s.getName())
    print('Your marks are: ',s.getMarks())
    print()

Enter number of students:2
Enter Name:Anand
Enter Marks90
Hi Anand
Your marks are:  90

Enter Name:Karan
Enter Marks85
Hi Karan
Your marks are:  85

In [1]:
class Animal:
    legs = 4
    @classmethod
    def walk(cls,name):
        print('{} walks with {} legs....'.format(name,cls.legs))
Animal.walk('Dog')
Animal.walk('Cat')

Dog walks with 4 legs....
Cat walks with 4 legs....

In [2]:
# Program to track the number of Objects created for a class

In [3]:
class LyMachMath:
    @staticmethod
    def add(x,y):
        print('The Sum: ',x+y)
    @staticmethod
    def product(x,y):
        print('The Product: ',x*y)
    @staticmethod
    def average(x,y):
        print('The average: ',(x+y)/2)
        
LyMachMath.add(10,20)
LyMachMath.product(10,20)
LyMachMath.average(10,20)

The Sum:  30
The Product:  200
The average:  15.0

# Oops.ipynb

In [2]:
#Make multiple classes and their objects
class Car:
    def __init__(self,name,model,color):
        self.name=name
        self.model=model
        self.color=color
    def getInfo(self):
        print("\tCar Name:{} \n\t Model:{} \n\t Color:{}".format(self.name,self.model,self.color))
        
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def eatndrink(self):
        print("Eat Veg Biryani and Drink Milk")
        
class Employee(Person):
    def __init__(self,name,age,eno,sal,car):
        super().__init__(name,age)
        self.eno=eno
        self.sal=sal
        self.car=car
    def work(self):
        print("Coding Python is very easy")
    def empinfo(self):
        print("Employee Name: ",self.name)
        print("Employee Age: ",self.age)
        print("Employee Number: ",self.eno)
        print("Employee Salary: ",self.sal)
        print("Employee Car Info ")
        self.car.getInfo()
        
c1 = Car("Fortuner", "2.5V","Black")
e1 = Employee('Anand',24,101,100000,c1)
e1.eatndrink()
e1.work()
e1.empinfo()

Eat Veg Biryani and Drink Milk
Coding Python is very easy
Employee Name:  Anand
Employee Age:  24
Employee Number:  101
Employee Salary:  100000
Employee Car Info
	Car Name:Fortuner
	 Model:2.5V
	 Color:Black

In [3]:
class Student:
    collegeName='Lymach'
    def __init__(self,name):
        self.name=name
print(Student.collegeName) #Aggregation
s = Student('Pradeep')
print(s.name)  #Composition
# The relation between object and its instance variables is always be a Composition where as the relation between object and static
# variables is Aggregation.

Lymach
Pradeep

In [1]:
class P1:
    def __init__(self):
        print(id(self))
class C1(P1):
    pass
c1 = C1()
print(id(c1))

2679349080336
2679349080336

In [3]:
class Person1:
    def __init__(self,name,age):
        self.name = name
        self.age = age
class Student1(Person1):
    def __init__(self,name,age,rollno,marks):
        super().__init__(name,age)
        self.rollno = rollno
        self.marks = marks
    def __str__(self):
        return 'Name={}\n Age = {}\n Rollno={}\n Marks={}'.format(self.name,self.age,self.rollno,self.marks)

s2 = Student1('Anand',24,101,94)
print(s2)

Name=Anand
 Age = 24
 Rollno=101
 Marks=94

In [4]:
# Multi level inheritance
class P2:
    def m1(self):
        print("Parend Method")
class C2(P2):
    def m2(self):
        print("Child Method")
class C3(C2):
    def m3(self):
        print("Sub Child Method")

c3 = C3()
c3.m3()
c3.m2()
c3.m1()

Sub Child Method
Child Method
Parend Method

In [7]:
# Hierarchical Inheritance
class P3:
    def m3(self):
        print("Parent Method")
class C4(P3):
    def m4(self):
        print("Child1 Method")
class C5(P3):
    def m5(self):
        print("Child2 Method")

c4 = C4()
c4.m4()
c4.m3()
c5 = C5()
c5.m5()
c5.m3()

Child1 Method
Parent Method
Child2 Method
Parent Method

In [9]:
#Pefrom multiple inheritance
class P4:
    def m4(self):
        print("Parent4 Method")
class P5:
    def m4(self):
        print("Parent5 Method")
class C6(P5,P4):
    def m6(self):
        print("Child2 Method")

c6 = C6()
c6.m4()

Parent5 Method